video{
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}
.header{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: aliceblue;
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 25px;
}
.block-search{
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 10px;
  font-family: 'Merriweather Sans', sans-serif;
}
.block-input{
  padding: 15px;
  background-color: rgb(128, 128, 128, 0.5);
  color: aliceblue;
  /* border: 1px solid aliceblue; */
  width: 50%;
  border: none;
  font-family: 'Merriweather Sans', sans-serif;
}
input::-webkit-input-placeholder{
  color: aliceblue;
  font-family: 'Merriweather Sans', sans-serif;
}
.style-button{
  background-color: rgba(0, 0, 0, 0.5);
  color: aliceblue;
  padding: 15px;
  border: 10px dashed rgb(128, 128, 128, 0.5);
  font-family: 'Merriweather Sans', sans-serif;
}
.container-recipes{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  color: rgb(255, 255, 255);
  font-family: 'Maitree', serif;
  font-weight: 500;
}
.style-recipes{
  flex-grow: 1;
  flex-basis: 20%;
  margin: 10px;
  padding: 10px;
  border: 1px solid aliceblue;
  background-color: rgb(128, 128, 128, 0.5);
}
.text{
  text-align: center;
}
.kitchen{
  text-transform: uppercase;
  font-family: 'Merriweather Sans', sans-serif;
}
.name-recipe{
  font-family: 'Merriweather Sans', sans-serif;
}
.style-image{
  margin-left: 10%;
}
